@import "tailwindcss";

:root {
  --background: #22101c;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #f20da6;
  --color-background-dark: #22101c;
  --color-background-light: #f8f5f7;
  --color-surface-dark: #392833;
  --color-surface-muted: #ba9cb0;
  --font-display: var(--font-plus-jakarta);
  --radius: 1rem;
  --radius-lg: 1.5rem;
  --radius-xl: 2rem;
  --radius-full: 9999px;
}

@utility no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
